body {
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;  
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 250px;
    width: 250px;
}

.body {
    display: flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.Main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.Info {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 0px 30px;

}

.body2 {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 40px;
}

.middle-content {
    display: flex;
    justify-content: center;
    gap: 102px;
    padding-bottom: 80px;
}

.info {
    max-width: 200px;
}


.text {
    font-size: 18px;
    color: gray;
}

.body3 {
    background-color: #e5e7eb;
    padding: 150px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;

}
.subject {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.body4 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #3882f6;
    width: 480px;
    border-radius: 5px;
    display: flex;
    padding: 16px;
}

.header-call {
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
}
.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
